
*.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/misc.xml
*.pyc
*.pyc
src/__pycache__/Board.cpython-37.pyc
src/__pycache__/Piece.cpython-37.pyc
